# Import Dependancies

In [16]:
import pandas as pd
import json
from pandas.io.json import json_normalize
from sqlalchemy import create_engine

# Extract Data into DataFrame

-CSV via pd.read<br/>
-JSON via Jsonify

In [17]:
#Import 2016 CSVs via pandas 
Traffic_Fatalities2016csv = "Data/2016_APD_Traffic_Fatalities.csv"
Traffic_Fatalities2016csv_df = pd.read_csv(Traffic_Fatalities2016csv)
Traffic_Fatalities2016csv_df.head()

,TYPE,FATAL CRASH Number,Number of Fatalities,CASE NUMBER,LOCATION,AREA,Date,Month,Day,Hour,...,Victim,Speeding,Ran Red Light or Stop Sign,DL Status,SUSPECTED IMPAIRMENT,restraint or helmet,TYPE OF ROAD,FTSRA,COORD X,Y COORD
0,Pedestrian,1,1,16-0061621,9700 Blk Lake Creek Pkwy,AD,01/06/2016,Jan,Wed,23,...,NaN,N,N,okay,PED,NaN,local street,y,-97.793878,30.475234
1,Pedestrian,2,1,16-0140992,4800 E. Riverside Dr.,HE,01/14/2016,Jan,Thu,14,...,NaN,N,N,okay,UNKNOWN,NaN,high use roadway,n,-97.717471,30.231659
2,Motor Vehicle,3,1,16-0221932,6300 blk E William Cannon,FR,01/22/2016,Jan,Fri,23,...,driver,Y,N,okay,DRIVER,unknown,high use roadway,n,-97.739337,30.170877
3,Pedestrian,4,1,16-0301529,12300 N Lamar,ED,01/30/2016,Jan,Sat,20,...,NaN,N,N,okay,UNKNOWN,NaN,high use roadway,n,-97.679087,30.402741
4,Motorcycle,5,1,16-0450263,Burleson Rd / McKinney Falls Pkwy,HE,02/14/2016,Feb,Sun,2,...,motorcyclist,Y,N,okay,DRIVER,no helmet,local street,n,-97.698371,30.191989

In [18]:
#Import 2017 CSVs via pandas 
Traffic_Fatalities2017csv = "Data/2017_APD_Traffic_Fatalities.csv"
Traffic_Fatalities2017csv_df = pd.read_csv(Traffic_Fatalities2017csv)
Traffic_Fatalities2017csv_df.head()
# Traffic_Fatalities2017csv_df['Killed Driver Pass']

,Type,Fatal crash number,Number of Fatalities,Case Number,Location,Area,Date,Month,Day,Hour,...,Killed driver pass,Speeding,Ran red light or stop sign,DL status incident,Suspected Impairment,Restraint helmet,Type of road,Failure to stop and render aid,X coord,Y coord
0,Motor Vehicle,1,1,17-0030106,8200 blk N. Lamar Blvd,ED,01/03/2017,Jan,Tue,1,...,driver,Y,N,okay,DRIVER,seatbelt worn,high use roadway,N,-97.709153,30.350809
1,Bicycle,2,1,17-0080877,Research Blvd SVRD NB/Riata Trace Pkwy,AD,01/08/2017,Jan,Sun,15,...,NaN,N,Y,suspended,NONE,helmet worn,other highway,N,-97.753497,30.426752
2,Motor Vehicle,3,1,17-0071308,E US Hwy 290 WB Svrd/Johnny Morris,CH,01/07/2017,Jan,Sat,21,...,other driver,Y,N,no DL,DRIVER,unknown,other highway,Y,-97.623275,30.331230
3,Motor Vehicle,4,1,17-0150225,13500 N US 183 NB,AD,01/15/2017,Jan,Sun,2,...,passenger,N,N,no DL,BOTH Drivers,no seatbelt,other highway,N,-97.790548,30.449598
4,Pedestrian,5,1,17-0110340,5900 blk N IH35,ID,01/11/2017,Jan,Wed,6,...,NaN,N,N,okay,PED,NaN,IH35,N,-97.706646,30.320762

In [19]:
#Import 2016 Jsons via Jsonify
Traffic_Fatalities2016JSON = json.load(open('Data/2016_APD_Traffic_Fatalities.JSON'))
Traffic_Fatalities2016JSON_df = pd.DataFrame(Traffic_Fatalities2016JSON["data"])
Traffic_Fatalities2016JSON_df.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,row-maik_3n9h-2w5j,00000000-0000-0000-5956-3706E013E1ED,0,1521042375,None,1521042375,None,{ },Pedestrian,1,...,n/a,N,N,okay,PED,n/a,local street,y,-97.793878,30.475234
1,row-w47v~ctar.h4s9,00000000-0000-0000-B47D-E08789C57E3B,0,1521042375,None,1521042375,None,{ },Pedestrian,2,...,n/a,N,N,okay,UNKNOWN,n/a,high use roadway,n,-97.717471,30.231659
2,row-4954-zfk7.k7fd,00000000-0000-0000-CA92-73083D2A69BC,0,1521042375,None,1521042375,None,{ },Motor Vehicle,3,...,driver,Y,N,okay,DRIVER,unknown,high use roadway,n,-97.739337,30.170877
3,row-thqb.64x9.hz9b,00000000-0000-0000-68C9-74EE7BE467AF,0,1521042375,None,1521042375,None,{ },Pedestrian,4,...,n/a,N,N,okay,UNKNOWN,n/a,high use roadway,n,-97.679087,30.402741
4,row-rdsq_pqx4_kn44,00000000-0000-0000-577C-BAEFFB99D30D,0,1521042375,None,1521042375,None,{ },Motorcycle,5,...,motorcyclist,Y,N,okay,DRIVER,no helmet,local street,n,-97.698371,30.191989

In [20]:
#Import 2017 JSONs via Jsonify
Traffic_Fatalities2017JSON = json.load(open('Data/2017_APD_Traffic_Fatalities.JSON'))
Traffic_Fatalities2017JSON_df = pd.DataFrame(Traffic_Fatalities2017JSON["data"])
Traffic_Fatalities2017JSON_df.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,row-bbfe_umdv.mfxb,00000000-0000-0000-8267-48A2F8CEA6C4,0,1537909452,None,1537909452,None,{ },Motor Vehicle,1,...,driver,Y,N,okay,DRIVER,seatbelt worn,high use roadway,N,-97.709153,30.350809
1,row-333t~juxd.yvcd,00000000-0000-0000-ABE5-6DAC2225EA82,0,1537909452,None,1537909452,None,{ },Bicycle,2,...,n/a,N,Y,suspended,NONE,helmet worn,other highway,N,-97.753497,30.426752
2,row-9rru-3cut.pu2u,00000000-0000-0000-76E5-9610A11C1A5A,0,1537909452,None,1537909452,None,{ },Motor Vehicle,3,...,other driver,Y,N,no DL,DRIVER,unknown,other highway,Y,-97.623275,30.33123
3,row-n8cw-tqec.ipip,00000000-0000-0000-55FC-9FC6F87A260E,0,1537909452,None,1537909452,None,{ },Motor Vehicle,4,...,passenger,N,N,no DL,BOTH Drivers,no seatbelt,other highway,N,-97.790548,30.449598
4,row-9es4-yzvu_rvra,00000000-0000-0000-07BC-623EFED2F194,0,1537909452,None,1537909452,None,{ },Pedestrian,5,...,n/a,N,N,okay,PED,n/a,IH35,N,-97.706646,30.320762

# Transform

In [21]:
#Transform 2016 csv files
NewTraffic_Fatalities2016csv_df = Traffic_Fatalities2016csv_df[['TYPE', "AREA", "Month", "Hour", "Victim", "Speeding", "DL Status", "SUSPECTED IMPAIRMENT", "restraint or helmet", "COORD X", "Y COORD"]].copy()
NewTraffic_Fatalities2016csv_df.head()

,TYPE,AREA,Month,Hour,Victim,Speeding,DL Status,SUSPECTED IMPAIRMENT,restraint or helmet,COORD X,Y COORD
0,Pedestrian,AD,Jan,23,NaN,N,okay,PED,NaN,-97.793878,30.475234
1,Pedestrian,HE,Jan,14,NaN,N,okay,UNKNOWN,NaN,-97.717471,30.231659
2,Motor Vehicle,FR,Jan,23,driver,Y,okay,DRIVER,unknown,-97.739337,30.170877
3,Pedestrian,ED,Jan,20,NaN,N,okay,UNKNOWN,NaN,-97.679087,30.402741
4,Motorcycle,HE,Feb,2,motorcyclist,Y,okay,DRIVER,no helmet,-97.698371,30.191989

In [24]:
engine = create_engine('postgresql://postgres:~w!J[kXh}+HF457@localhost:5433/ETL')
NewTraffic_Fatalities2016csv_df.to_sql('traffic_fatalities_2016', engine)

In [25]:
#Transform 2017 csv files
NewTraffic_Fatalities2017csv_df = Traffic_Fatalities2017csv_df[['Type', "Area", "Month", "Hour", "Killed driver pass", "Speeding", "DL status incident ", "Suspected Impairment", "Restraint helmet", "X coord", "Y coord"]].copy()
NewTraffic_Fatalities2017csv_df.head()

,Type,Area,Month,Hour,Killed driver pass,Speeding,DL status incident,Suspected Impairment,Restraint helmet,X coord,Y coord
0,Motor Vehicle,ED,Jan,1,driver,Y,okay,DRIVER,seatbelt worn,-97.709153,30.350809
1,Bicycle,AD,Jan,15,NaN,N,suspended,NONE,helmet worn,-97.753497,30.426752
2,Motor Vehicle,CH,Jan,21,other driver,Y,no DL,DRIVER,unknown,-97.623275,30.331230
3,Motor Vehicle,AD,Jan,2,passenger,N,no DL,BOTH Drivers,no seatbelt,-97.790548,30.449598
4,Pedestrian,ID,Jan,6,NaN,N,okay,PED,NaN,-97.706646,30.320762

In [26]:
engine = create_engine('postgresql://postgres:~w!J[kXh}+HF457@localhost:5433/ETL')
NewTraffic_Fatalities2017csv_df.to_sql('traffic_fatalities_2017', engine)

In [10]:
#Transform 2016 JSON files
#Get rid of first 7 columns
newTraffic_Fatalities2016JSON_df =Traffic_Fatalities2016JSON_df.iloc[:, 8:31].copy()
newTraffic_Fatalities2016JSON_df.head()

,8,9,10,11,12,13,14,15,16,17,...,21,22,23,24,25,26,27,28,29,30
0,Pedestrian,1,1,16-0061621,9700 Blk Lake Creek Pkwy,AD,2016-01-06T00:00:00,Jan,Wed,23,...,n/a,N,N,okay,PED,n/a,local street,y,-97.793878,30.475234
1,Pedestrian,2,1,16-0140992,4800 E. Riverside Dr.,HE,2016-01-14T00:00:00,Jan,Thu,14,...,n/a,N,N,okay,UNKNOWN,n/a,high use roadway,n,-97.717471,30.231659
2,Motor Vehicle,3,1,16-0221932,6300 blk E William Cannon,FR,2016-01-22T00:00:00,Jan,Fri,23,...,driver,Y,N,okay,DRIVER,unknown,high use roadway,n,-97.739337,30.170877
3,Pedestrian,4,1,16-0301529,12300 N Lamar,ED,2016-01-30T00:00:00,Jan,Sat,20,...,n/a,N,N,okay,UNKNOWN,n/a,high use roadway,n,-97.679087,30.402741
4,Motorcycle,5,1,16-0450263,Burleson Rd / McKinney Falls Pkwy,HE,2016-02-14T00:00:00,Feb,Sun,2,...,motorcyclist,Y,N,okay,DRIVER,no helmet,local street,n,-97.698371,30.191989

In [11]:
#Rename Columns
newTraffic_Fatalities2016JSON_df['TYPE'] = newTraffic_Fatalities2016JSON_df.pop(8)
newTraffic_Fatalities2016JSON_df['FATAL CRASH Number'] = newTraffic_Fatalities2016JSON_df.pop(9)
newTraffic_Fatalities2016JSON_df['Number of Fatalities'] = newTraffic_Fatalities2016JSON_df.pop(10)
newTraffic_Fatalities2016JSON_df['CASE NUMBER'] = newTraffic_Fatalities2016JSON_df.pop(11)
newTraffic_Fatalities2016JSON_df['LOCATION'] = newTraffic_Fatalities2016JSON_df.pop(12)
newTraffic_Fatalities2016JSON_df['AREA'] = newTraffic_Fatalities2016JSON_df.pop(13)
newTraffic_Fatalities2016JSON_df['Date'] = newTraffic_Fatalities2016JSON_df.pop(14)
newTraffic_Fatalities2016JSON_df['Month'] = newTraffic_Fatalities2016JSON_df.pop(15)
newTraffic_Fatalities2016JSON_df['Day'] = newTraffic_Fatalities2016JSON_df.pop(16)
newTraffic_Fatalities2016JSON_df['Hour'] = newTraffic_Fatalities2016JSON_df.pop(17)
newTraffic_Fatalities2016JSON_df['Time'] = newTraffic_Fatalities2016JSON_df.pop(18)
newTraffic_Fatalities2016JSON_df['Related'] = newTraffic_Fatalities2016JSON_df.pop(19)
newTraffic_Fatalities2016JSON_df['charge'] = newTraffic_Fatalities2016JSON_df.pop(20)
newTraffic_Fatalities2016JSON_df['Victim'] = newTraffic_Fatalities2016JSON_df.pop(21)
newTraffic_Fatalities2016JSON_df['Speeding'] = newTraffic_Fatalities2016JSON_df.pop(22)
newTraffic_Fatalities2016JSON_df['Ran Red Light or Stop Sign'] = newTraffic_Fatalities2016JSON_df.pop(23)
newTraffic_Fatalities2016JSON_df['DL Status'] = newTraffic_Fatalities2016JSON_df.pop(24)
newTraffic_Fatalities2016JSON_df['SUSPECTED IMPAIRMENT'] = newTraffic_Fatalities2016JSON_df.pop(25)
newTraffic_Fatalities2016JSON_df['restraint or helmet'] = newTraffic_Fatalities2016JSON_df.pop(26)
newTraffic_Fatalities2016JSON_df['TYPE OF ROAD'] = newTraffic_Fatalities2016JSON_df.pop(27)
newTraffic_Fatalities2016JSON_df['FTSRA'] = newTraffic_Fatalities2016JSON_df.pop(28)
newTraffic_Fatalities2016JSON_df['COORD X'] = newTraffic_Fatalities2016JSON_df.pop(29)
newTraffic_Fatalities2016JSON_df['Y COORD'] = newTraffic_Fatalities2016JSON_df.pop(30)

newTraffic_Fatalities2016JSON_df.head()

,TYPE,FATAL CRASH Number,Number of Fatalities,CASE NUMBER,LOCATION,AREA,Date,Month,Day,Hour,...,Victim,Speeding,Ran Red Light or Stop Sign,DL Status,SUSPECTED IMPAIRMENT,restraint or helmet,TYPE OF ROAD,FTSRA,COORD X,Y COORD
0,Pedestrian,1,1,16-0061621,9700 Blk Lake Creek Pkwy,AD,2016-01-06T00:00:00,Jan,Wed,23,...,n/a,N,N,okay,PED,n/a,local street,y,-97.793878,30.475234
1,Pedestrian,2,1,16-0140992,4800 E. Riverside Dr.,HE,2016-01-14T00:00:00,Jan,Thu,14,...,n/a,N,N,okay,UNKNOWN,n/a,high use roadway,n,-97.717471,30.231659
2,Motor Vehicle,3,1,16-0221932,6300 blk E William Cannon,FR,2016-01-22T00:00:00,Jan,Fri,23,...,driver,Y,N,okay,DRIVER,unknown,high use roadway,n,-97.739337,30.170877
3,Pedestrian,4,1,16-0301529,12300 N Lamar,ED,2016-01-30T00:00:00,Jan,Sat,20,...,n/a,N,N,okay,UNKNOWN,n/a,high use roadway,n,-97.679087,30.402741
4,Motorcycle,5,1,16-0450263,Burleson Rd / McKinney Falls Pkwy,HE,2016-02-14T00:00:00,Feb,Sun,2,...,motorcyclist,Y,N,okay,DRIVER,no helmet,local street,n,-97.698371,30.191989

In [12]:
#Transform 2016 JSON files
newerTraffic_Fatalities2016JSON_df = newTraffic_Fatalities2016JSON_df[['TYPE', "AREA", "Month", "Hour", "Victim", "Speeding", "DL Status", "SUSPECTED IMPAIRMENT", "restraint or helmet", "COORD X", "Y COORD"]].copy()
newerTraffic_Fatalities2016JSON_df.head()

,TYPE,AREA,Month,Hour,Victim,Speeding,DL Status,SUSPECTED IMPAIRMENT,restraint or helmet,COORD X,Y COORD
0,Pedestrian,AD,Jan,23,n/a,N,okay,PED,n/a,-97.793878,30.475234
1,Pedestrian,HE,Jan,14,n/a,N,okay,UNKNOWN,n/a,-97.717471,30.231659
2,Motor Vehicle,FR,Jan,23,driver,Y,okay,DRIVER,unknown,-97.739337,30.170877
3,Pedestrian,ED,Jan,20,n/a,N,okay,UNKNOWN,n/a,-97.679087,30.402741
4,Motorcycle,HE,Feb,2,motorcyclist,Y,okay,DRIVER,no helmet,-97.698371,30.191989